{{#> section_content class=" animated fadeIn slow delay-025s" }}
    <div class="article-separator"></div>
    <div class="article-tags-container">
    {{#each tags }}
        <a href="index.html?tag={{ this }}"><div class="article-tag">{{ this }}</div></a>
    {{/each}}
    </div>
{{/ section_content }}
{{#> section_content }}
    <hr />
    <div>Continue reading:</div>
    <div class="article-related-container">
        {{> article_related (fetch_related 0 article_metadata tags date) }}
        {{> article_related (fetch_related 1 article_metadata tags date) }}
        {{> article_related (fetch_related 2 article_metadata tags date) }}
    </div>
{{/ section_content }}