{{#> section_content class=" animated fadeIn slow delay-025s" }}
    <div class="article-separator"></div>
    <div class="article-tags-container">
    {{#each tags }}
        <a href="index.html?tag={{ this }}"><div class="article-tag">{{ this }}</div></a>
    {{/each}}
    </div>
{{/ section_content }}
{{#> section_content class=" animated fadeIn slow delay-025s" }}
    <hr />
{{/ section_content }}