{{#> section_content class=" animated fadeIn slow delay-025s" }}
    <div class="article-date">{{ date }}</div>
    <h1 class="article-title">{{ title }}</h1>
    <div class="article-description">{{ description }}</div>
{{/ section_content }}